/*NAV*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .logo {
    width: 36px;
    margin-left: 100px;
  }

  .btncontrol {
    display: none;
  }

  .icons {
    display: none;
  }

  .listas-nav {
    display: flex;
    margin-right: 52px;

    li {
      list-style-type: none;
      margin-right: 48px;
      a {
        font-family: $font-mono;
        text-decoration: none;
        color: #060a24 100%;
      }

      a:hover {
        color: #00f3bb 100%;
        text-decoration: line-through;
      }
      a:active {
        color: #060a24 56%;
      }
      a:visited {
        text-decoration: none;
        color: #060a24;
      }
    }
  }
}

/*NAV mobile*/

@media screen and (max-width: 320px) {
  nav {
    height: 44px;
    display: flex;
    width: 100%;

    .logo {
      margin-left: 16px;
      width: 24px;
    }

    .listas-nav {
      display: none;
      box-sizing: border-box;
      width: 100%;

      li {
        height: 35px;
        display: flex;
        align-items: center;

        a {
          font-family: $font-mono;
          font-size: 16px;
          color: $font_secondary;
          line-height: 28px;
          text-decoration: none;
        }
      }
    }

    .btncontrol:checked ~ .listas-nav {
      position: absolute;
      top: 44px;
      left: 0px;
      display: block;
      width: 100%;
      background: $nav_mobile;
      z-index: 1;
      padding-top: 16px;

      li {
        margin-bottom: 24px;
        margin-left: 5%;

        a {
          font-size: 16px;
          color: $font_secondary;
          letter-spacing: 0;
          line-height: 28px;
        }
      }
    }

    .btncontrol:checked + .icons .fa-bars {
      display: none;
    }

    .btncontrol:checked + .icons .fa-times {
      display: block;
    }
    .icons {
      display: flex;
      margin-right: 16px;

      .fa-bars {
        font-size: 18px;
      }

      .fa-times {
        font-size: 18px;
        display: none;
      }
    }
  }
}
