/*FONTS*/
$font-mono: "IBM Plex Mono", monospace;
$font-sans: "IBM Plex Sans", sans-serif;
/*TAMAÑOS*/
$maxwidth: 1440px;

/*COLORES*/
$background_primary: #ffffff;
$font_primary: #060a24;
$font_secondary: #ffffff;
$font_third: #00f3bb;
$font_fourth: #060a24;
$nav_mobile: #0000ec;
