/*VENIMOS*/
.venimos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  img {
    width: 457.6px;
    height: 660px;
    margin-top: -168.6px;
    margin-left: 200px;
  }
  .container_text {
    max-width: 464px;
    margin-left: 62.4px;
    margin-right: 256px;
    h2 {
      font-family: $font-sans;
      font-size: 48px;
      line-height: 62px;
      font-weight: 100;
      color: #060a24;
      letter-spacing: 0;
      margin-bottom: 24px;
    }
    p {
      font-family: $font-mono;
      font-size: 16px;
      color: #060a24;
      letter-spacing: 0;
      line-height: 24px;
      font-weight: 400;
    }
  }
}
