/*
---
---
*/
/* LOS --- DE ARRIBA SON UTILIZADOS SI DESEO SUBIR A GITHUB PAGES*/
/*Importar archivos*/
@import "./variables";

/*--------------------------------------------------------------------------------*/
/*normalizadores*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*BODY*/
body {
  max-width: $maxwidth;
  background-color: $background_primary;
}

/*NAV*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .logo {
    width: 36px;
    margin-left: 100px;
  }

  .btncontrol {
    display: none;
  }

  .icons {
    display: none;
  }

  .listas-nav {
    display: flex;
    margin-right: 52px;

    li {
      list-style-type: none;
      margin-right: 48px;
      a {
        font-family: $ibmplexmono_regular;
        text-decoration: none;
        color: $font_primary;
      }

      a:hover {
        color: $font_third;
        text-decoration: line-through;
      }
      a:active {
        color: $font_fourth;
      }
    }
  }
}

/*NAV mobile*/

@media screen and (max-width: 320px) {
  nav {
    height: 44px;
    display: flex;
    width: 100%;

    .logo {
      margin-left: 16px;
      width: 24px;
    }

    .listas-nav {
      display: none;
      box-sizing: border-box;
      width: 100%;

      li {
        height: 35px;
        display: flex;
        align-items: center;

        a {
          font-family: $ibmplexmono_regular;
          font-size: 16px;
          color: $font_secondary;
          line-height: 28px;
          text-decoration: none;
        }
      }
    }

    .btncontrol:checked ~ .listas-nav {
      position: absolute;
      top: 44px;
      left: 0px;
      display: block;
      width: 100%;
      background: $nav_mobile;
      z-index: 1;
      padding-top: 16px;

      li {
        margin-bottom: 24px;
        margin-left: 5%;

        a {
          font-size: 16px;
          color: $font_secondary;
          letter-spacing: 0;
          line-height: 28px;
        }
      }
    }

    .btncontrol:checked + .icons .fa-bars {
      display: none;
    }

    .btncontrol:checked + .icons .fa-times {
      display: block;
    }
    .icons {
      display: flex;
      margin-right: 16px;

      .fa-bars {
        font-size: 18px;
      }

      .fa-times {
        font-size: 18px;
        display: none;
      }
    }
  }
}
