/*
---
---
*/
/* LOS --- DE ARRIBA SON UTILIZADOS SI DESEO SUBIR A GITHUB PAGES*/
/*Importar archivos*/
@import "./variables";

/*--------------------------------------------------------------------------------*/
/*normalizadores*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*BODY*/
body {
  max-width: $maxwidth;
  background-color: $background_primary;
}

/*HEADER con NAV y menu hamburguesa*/
header {
  font-family: $ibmplexmono_regular;
  width: 100%;
  position: fixed;
  height: 44px;
  top: 0;
}
header img {
  float: left;
  margin: 10px 0px 0px 16px;
}
header nav {
  float: right;
  margin: 16px 19px 16px 0;
}
header nav .menu ul {
  /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
  width: 100%;
  position: absolute;
  top: 44px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: $nav_mobile;
  height: 0px;
}
header nav .menu ul li {
  position: relative;
}

header nav .menu ul li a {
  position: relative;
  text-decoration: none;
  color: $font_primary;
  padding: 16px 16px;
  line-height: 28px;
  display: block;
}

header nav .menu input[type="checkbox"]:checked ~ ul {
  height: 240px;
}

/*checkbox transparente y en primer plano*/
header nav .menu input {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute;
}
/*span -lineas del menu hamburguesa-*/
header nav .menu span {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  position: relative;
  background: #000;
  z-index: 1;
}

/*menu simple con tamaño menor a 320px*/
@media screen and (min-width: 320px) {
  header {
    height: 80px;

    img {
      width: 36px;
      height: 36px;
      float: left;
      margin: 22px 0px 0px 100px;
    }
  }
  header nav .menu ul {
    position: relative;
    top: 0;
    right: 0;
    overflow: hidden;
    background: $background_primary;
    height: 80px;
    margin-right: 100px;
  }
  header nav .menu ul li {
    padding-right: 48px;
    display: inline-block;
  }

  header nav .menu ul li a {
    color: black;
    padding: 26px 0px;
    line-height: 28px;
  }

  header nav .menu input {
    display: none;
  }
  header nav .menu span {
    display: none;
  }
}
