@charset "UTF-8";
/*
---
---
*/
/* LOS --- DE ARRIBA SON UTILIZADOS SI DESEO SUBIR A GITHUB PAGES*/
/*Importar archivos*/
/*FONTS*/
/*  IBM Plex Mono REGULAR  */
@font-face {
  font-family: "IBM Plex Mono Regular", monospace;
  src: url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
}

/*  IBM Plex sans REGULAR  */
@font-face {
  font-family: "IBM Plex Sans Regular", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
}

/*  IBM Plex Mono MEDIUM  */
@font-face {
  font-family: "IBM Plex Mono Medium", monospace;
  src: url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");
}

/*  IBM Plex sans Semi Bold  */
@font-face {
  font-family: "IBM Plex Sans Semi Bold", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap");
}

/*TAMAÑOS*/
/*COLORES*/
/*--------------------------------------------------------------------------------*/
/*normalizadores*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*BODY*/
body {
  max-width: 1440px;
  background-color: #ffffff;
}

/*HEADER con NAV y menu hamburguesa*/
.nav_mobile {
  display: none;
}

.nav_desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_desktop .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_desktop .container .logo_desktop {
  width: 36px;
  height: 36px;
  margin-left: 100px;
}

.nav_desktop .container .nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.nav_desktop .container .nav_list .nav_item {
  font-family: "IBM Plex Mono Regular", monospace;
  line-height: 28px;
  letter-spacing: 0;
  text-decoration: none;
  color: #060a24;
  padding-right: 28px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*Para version mobile*/
@media only screen and (max-width: 320px) {
  .nav_desktop {
    display: none;
  }
  .nav_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav_mobile .dropdown_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 44px;
    width: 100%;
  }
  .nav_mobile .dropdown_menu .logo_mobile {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-self: flex-start;
    margin-left: 16px;
    height: 24px;
    width: 24px;
  }
  .nav_mobile .dropdown_menu #checkbox {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-self: flex-end;
    width: 40px;
    height: 32px;
  }
  .nav_mobile .dropdown_menu #checkbox input[type="checkbox"]:checked ~ ul {
    height: 224px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav_mobile .dropdown_menu #icon_menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-self: flex-end;
    margin-right: 19px;
  }
  .nav_mobile .dropdown_menu ul {
    background: #0000ec 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 44px;
    width: 100%;
  }
  .nav_mobile .dropdown_menu ul li {
    position: relative;
    margin-bottom: 24px;
    margin-left: 16px;
    list-style-type: none;
  }
  .nav_mobile .dropdown_menu ul li a {
    font-family: "IBM Plex Mono Regular", monospace;
    text-decoration: none;
    line-height: 28px;
    color: #ffffff;
  }
  .nav_mobile .dropdown_menu ul li:first-child {
    margin-top: 16px;
  }
}
/*# sourceMappingURL=styles.css.map */