---
---

@import "./variables";

/*--------------------------------------------------------------------------------*/
/*normalizadores*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*BODY*/
body {
  max-width: $maxwidth;
  background-color: $background_primary;
}

/*NAV*/
@import "./nav";
/*HEADER*/
@import "./header";
/*EPISODIOS*/
@import "./episodios";
/*VENIMOS*/
@import "./venimos";
/*INVITADOS*/
@import "./invitados";
/*TEMAS*/
@import "./temas";
/*NOVEDADES*/
@import "./novedades";
/*FOOTER*/
@import "./footer";
