/*
---
---
*/
/* LOS --- DE ARRIBA SON UTILIZADOS SI DESEO SUBIR A GITHUB PAGES*/
/*Importar archivos*/
@import "./variables";

/*--------------------------------------------------------------------------------*/
/*normalizadores*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*BODY*/
body {
  max-width: $maxwidth;
  background-color: $background_primary;
}

/*HEADER con NAV y menu hamburguesa*/
.nav_mobile {
  display: none;
}

.nav_desktop {
  display: flex;
  .container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    .logo_desktop {
      width: 36px;
      height: 36px;
      margin-left: 100px;
    }
    .nav_list {
      display: flex;
      text-decoration: none;
      list-style-type: none;
      .nav_item {
        font-family: $ibmplexmono_regular;
        line-height: 28px;
        letter-spacing: 0;
        text-decoration: none;
        color: $font_primary;
        padding-right: 28px;
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
  }
}

/*Para version mobile*/
@media only screen and (max-width: 320px) {
  .nav_desktop {
    display: none;
  }

  .nav_mobile {
    display: flex;
    .dropdown_menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 44px;
      width: 100%;

      .logo_mobile {
        margin-left: 16px;
        height: 24px;
        width: 24px;
      }

      #checkbox {
        position: absolute;
        display: flex;
        width: 40px;
        height: 32px;

        input[type="checkbox"]:checked ~ ul {
          height: 224px;
        }
      }

      #icon_menu {
        position: absolute;
      }

      #icon_close {
        position: absolute;
      }

      ul {
        background: $nav_mobile;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 44px;
        width: 100%;

        li {
          position: relative;
          margin-bottom: 24px;
          margin-left: 16px;
          list-style-type: none;

          a {
            font-family: $ibmplexmono_regular;
            text-decoration: none;
            line-height: 28px;
            color: $font_secondary;
          }
        }
      }

      ul li:first-child {
        margin-top: 16px;
      }
    }
  }
}
